In [5]:
import pandas as pd

# Example of reading a CSV file

In [6]:
df = pd.read_csv("test.csv")
df

  first_name  last_name   age            city
0       John        Doe    30        New York
1       Jane      Smith    25     Los Angeles
2      Nancy      Jones    35         Chicago
3       Mark     Taylor    40         Houston
4        Tom     Harris    45         Phoenix
5      Alice   Williams    50   San Francisco
6        Bob      Brown    55         Seattle
7      Carol      Davis    60          Denver